h1
{color:#208CE5;
 font-family:"Georgia", Times, serif;
 font-size:xx-large;
 letter-spacing:2px;
 
 
}


h3
{color:#208CE5;
text-align:center;
 font-family:"Lucida Sans Unicode", Times, serif;
 font-size:x-large;
 
 

}



ul

{color:#208CE5;
font-size:x-large;
font-family: Arial;
}

div{
    background-color:#BCCBD6;
   opacity: 0.4;
    width: 190px
    
}

body
{
 background-image: url("https://drive.google.com/uc?id=0B_J0PkNHgtOXQ2lFVzVLRW16TDA");
 background-size:cover;
 
 

}
footer
{color:#BCCBD6;}
