h1
{color:#208CE5;
 font-family:"Times New Roman", Times, serif;  
}


h3
{color:#BCCBD6;}

ul
{color:#208CE5;}

body
{
 background-image: url("https://drive.google.com/uc?id=0B_J0PkNHgtOXQ2lFVzVLRW16TDA");
}
footer
{color:#BCCBD6;}
